{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Files Manager</title>
    <link rel="stylesheet" href="{% static 'css/styles-files.css'%}">
</head>
<body>
    
    <div class="title"><h1>WELCOME TO FILES MANAGER</h1></div>
    <div class="menu">{% include 'partials/menu-bar.html' %}</div>
    
    <div class="container">
        <br>
        <h3>ADDED RECENTLY</h3>
        <hr>
        <div class="drawings">
            
            {% for i in drawings %}
                <div class="dwg">
                    <p> {{i.program}}</p>
                </div>
            {% endfor %}
            

            
            
        </div>
    </div>
</body>
</html>