{% load static %}



<div class="card-contact">
   <h1>Let's work together...</h1> 
    <div>
        <div>
            <img src="{% static 'img/email.png' %}" alt="profile">
            <a href="mailto:al162917@alumnos.uacj.mx">EMAIL</a>
        </div>

        <div>
            <img src="{% static 'img/telephone.png' %}" alt="profile">
            <a href="mailto:al162917@alumnos.uacj.mx">TELEPHONE</a>
        </div>
    
        <div>
            <img src="{% static 'img/github.png' %}" alt="profile">
            <a href="https://github.com/arm-code" target="_blank">GITHUB</a>
        </div>
    
        <div>
            <img src="{% static 'img/linkedin.png' %}" alt="profile">    
            <a href="https://www.linkedin.com/in/alexis-romero-mendoza-4a8b03221/" target="_blank">LINKEDIN</a>
        </div>    
    </div>
</div>

