{% load static %}

<div class="card-aboutme">
    <h1>ABOUT ME</h1>
    <br>
    <p>
        I am student from Universidad Autonoma de Ciudad
        Juarez, I study Computational Systems Engineering. Actually 5th semester.
        
    </p>
    <br>
    <h3>JOB</h3>
    <p>
        I work in the maquiladora industry as an engineering assistant. 
        I support the implementation of projects in production. 
    </p>
    <br>
    
    <h3>SKILLS</h3>
    <ul>
        <li>Web development with Django.</li>
        <li>HTML and CSS.</li>
        <li>Desktops development in C#.</li>
        <li>Postgres SQL.</li>
        <li>Git and Git Hub.</li>
        
    </ul>
        
    
</div> 