{% load static %}

<div class="project">
    <a href="#">
        <img src="{% static 'img/calculator.png' %}" alt="project-image">
        <p>Project Name</p>
    </a>
</div>

<div class="project">
    <a href="#">
        <img src="{% static 'img/calculator.png' %}" alt="project-image">
        <p>Project Name</p>
    </a>
</div>

<div class="project">
    <a href="#">
        <img src="{% static 'img/calculator.png' %}" alt="project-image">
        <p>Project Name</p>
    </a>
</div>

<div class="project">
    <a href="#">
        <img src="{% static 'img/calculator.png' %}" alt="project-image">
        <p>Project Name</p>
    </a>
</div>

<div class="project">
    <a href="#">
        <img src="{% static 'img/calculator.png' %}" alt="project-image">
        <p>Project Name</p>
    </a>
</div>

<div class="project">
    <a href="#">
        <img src="{% static 'img/calculator.png' %}" alt="project-image">
        <p>Project Name</p>
    </a>
</div>
