:root {
  --main-white: #f0f0f0;
  --main-red: #be3144;
  --main-blue: #45567d;
  --main-gray: #303841;
  --main-background: #1b1b32;
}

*{
  margin: 0;
  padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

/*
** titles:
**  font-family: 'Anton', sans-serif;
*/


hr{
  border: 2px solid red;
  background-color: #be3144;
}

nav{
  background-color: var(--main-red);
  justify-content: flex-end;
  display: flex;
  width: 100%;
  justify-content: space-around;
  left: 0;
  right: -1;
}

body{
  text-align: center;
  font-family: 'Anton', sans-serif;
  color: var(--main-blue);
  display: flex;
  flex-direction: column;
}

.title{
  padding: 10px;
  font-size: 16px;
}


.navigation-bar{
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

ul li{
  padding: 20px;
}

ul li a{
  text-decoration: none;
  font-size: 16px;
  color: white;
  
}

a {
    color: #f5f6f7;
    text-decoration: none;
}
  
a:visited {
  color: #f5f6f7;
}     
  
a:hover {
  color: #1b1b32;
  
}
  
a:active {
  color: brown;
}

  /* */

.container{
  height: 80vh;
  width: 100%;
  left: 0;
}

.drawings{
  
  height: 100%;
  
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.dwg{
  border: var(--main-gray) solid;
  border-radius: 10px;
  width: 30%;
  height: 30%;
  margin: 10px;
  background-color: beige;

  display: flex;
  justify-content: center;
  align-items: center;
}

.dwg:hover{
  background-color: var(--main-blue);
  color: white;
  
}
.dwg p{
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
}

/*
** LOGIN SECTION
*/


.container-login{
  width: 100%;
  height: 100vh;
  margin: 0;
  background-color: #1b1b32;
	color: #f5f6f7;
  font-family: Tahoma;
	font-size: 16px;
}

.container-login h1, p {
  margin: 1em auto;
  text-align: center;
}

.container-login form {
  width: 60vw;
	max-width: 500px;
	min-width: 300px;
	margin: 0 auto;
  padding-bottom: 2em;
}

.container-login fieldset {
  border: none;
  padding: 2rem 0;
  border-bottom: 3px solid #3b3b4f;
}

.container-login fieldset:last-of-type {
  border-bottom: none;
}

.container-login label {
  display: block;
	margin: 0.5rem 0;
}

.container-login input,
textarea,
select {
  margin: 10px 0 0 0;
	width: 100%;
  min-height: 2em;
}

.container-login input, textarea {
  background-color: #0a0a23;
  border: 1px solid #0a0a23;
  color: #ffffff;
}

.container-login .inline {
  width: unset;
  margin: 0 0.5em 0 0;
  vertical-align: middle;
}

.container-login input[type="submit"] {
  display: block;
  width: 60%;
  margin: 1em auto;
  height: 2em;
  font-size: 1.1rem;
  background-color: #3b3b4f;
  border-color: white;
  min-width: 300px;
}

.container-login input[type="file"] {
  padding: 1px 2px;
}

.container-login a{
  color:#dfdfe2;
}
/*
** LOGIN SECTION
*/