:root {
  --main-white: #f0f0f0;
  --main-red: #be3144;
  --main-blue: #45567d;
  --main-gray: #303841;
  --main-background: #1b1b32;
}

 *{
  margin: 0;
  padding: 0;
 }

h1,h2{
  font-weight: 700;
  font-size: 3em;
 }

nav{
  background-color: var(--main-red);
  justify-content: flex-end;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  justify-content: center;
  z-index: 10;
}

body{
  
  font-family: sans-serif;
  color: #f5f6f7;
  
}

footer{
  background-color: var(--main-red);
  color: white;
  display: flex;
  justify-content: center;
  width: 100%;
}
navigation-bar{
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
 .footer-bar{
  list-style-type: none;
  justify-content: center;
  align-items: center;
  text-align: center;
 }

 .footer-bar li{
  padding: 10px;
  
 }
ul li{
  padding: 20px;
}

ul li a{
  text-decoration: none;
  font-size: 20px;
  color: white;
}

a {
    color: #f5f6f7;
    text-decoration: none;
   
  }
  
  a:visited {
    color: #f5f6f7;
  }
  
  a:hover {
    color: #1b1b32;
    
  }
  
  a:active {
    color: brown;
  }


.welcome-section{
  background: linear-gradient(60deg, var(--main-gray), var(--main-background));    
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  
}

.welcome-section img{
    border-radius: 50%;
    width: 30%;
    
}

.projects-section{
  display: flex;
 flex-direction: column;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;  
  background: linear-gradient(30deg, var(--main-gray), var(--main-blue));
  color: var(--main-background);
  text-align: center;
  color: var(--main-white);
}

/* adding projects*/
.projects-container{
  padding: 10px;
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
  text-align: center; 
}

.projects-container .project{
  margin: 10px;
  width: 30%; 

}

.project img{
  width: 30%;
}
.project{
  border: #be3144;
}

.about-section{
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  background: linear-gradient(60deg, var(--main-gray), var(--main-background));    
  color: var(--main-white);
}
.contact-section{
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  background: linear-gradient(30deg, var(--main-gray), var(--main-blue));    
  color: var(--main-background);
}

.card-aboutme{
  text-align: center;
  padding: 10%;
}

.card-aboutme ul li{
  font-weight: bold;
  list-style-type: none;
  color: var(--main-red);
  padding: 5px;
  
}

.card-contact{
  color: var(--main-white);
  text-align: center;
  
}

.card-contact div{
  display: grid;
  grid-template-columns: auto;
  align-items: center;

  padding: 10px;
}

.card-contact div div{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.card-contact div a{
  padding-left: 20px;
  
}
.card-contact a:hover{
font-size: 1.5em;
  color: var(--main-red);
}

.card-contact img {
  width: 30px;
  
}

 
/* Inicio Section de los botones de contacto*/
/* From uiverse.io by @Navarog21 */


/* Final Section de los botones de contacto*/
