:root {
  --main-white: #f0f0f0;
  --main-red: #be3144;
  --main-blue: #45567d;
  --main-gray: #303841;
  --main-background: #1b1b32;
}

*{
  margin: 0;
  padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500&display=swap');

h1, h2{
  font-weight: 700;
  font-size: 3em;
}

nav{
  background-color: var(--main-red);
  justify-content: flex-end;
  display: flex;
  width: 100%;
  justify-content: space-around;
  left: 0;
  right: -1;
}

body{
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: var(--main-blue);
  display: flex;
  flex-direction: column;
}


.navigation-bar{
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

ul li{
  padding: 20px;
}

ul li a{
  text-decoration: none;
  font-size: 20px;
  color: white;
}

a {
    color: #f5f6f7;
    text-decoration: none;
}
  
a:visited {
  color: #f5f6f7;
}     
  
a:hover {
  color: #1b1b32;
  
}
  
a:active {
  color: brown;
}

  /* */

.container{
  height: 80vh;
  width: 100%;
  left: 0;
}

.drawings{
  
  height: 100%;
  
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.dwg{
  border: green solid;
  width: 30%;
  height: 30%;
  margin: 10px;
  background-color: lime;
}
